body{
	background-color: #e9ebf5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* 縦方向の中央寄せ */
	align-items: center;
	/* 横方向の中央寄せ */
	height: 100vh;
	margin: 0;
}

button{
    font-size: 25px;
	font-weight: bold;
    border-radius: 5px;
	width: 150px;
	height: 50px;
}