body{
    background-color: #e9ebf5;
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;  /* 画面全体を確保 */
    display: flex;
    flex-direction: column;  /* 縦方向のレイアウトは残す */
}


button{
    font-size: 25px;
	font-weight: bold;
    border-radius: 5px;
	width: 150px;
	height: 50px;
}