body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* カテゴリボタン */
.category-area {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
}

.category-btn {
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: linen;
}

/*リストパーツ*/

.side-list {
    position: fixed;
    top: 10%;
    right: -250px;   /* リスト分だけ隠す */
    display: flex;
    z-index: 1000;
    transition: right 0.3s ease;
}

/* 開いた状態（ボタン含め全部出る） */
.side-list.open {
    right: 0;
}

/* ボタン */
.side-list-btn {
    width: 40px;
    height: 150px;
    background-color: silver;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}

/* リスト */
.list-panel {
    width: 200px;
	height: 600px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
}


   .list-panel ul {
	color: aliceblue;
       list-style: none;
       padding: 0;
   }

   .list-panel li {
       margin-bottom: 10px;
   }

/*メニュー部分*/

.menu-area {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center;
}

.menu-item {
    text-align: center;
}

.menu-item img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

/* 注文確認 */
.confirm-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

/* 注文送信 */
.send-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

/* ===== モーダル背景 ===== */
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;            /* 初期は非表示 */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* 表示状態 */
.modal.show {
    display: flex;
}

/* ===== モーダル本体 ===== */
.modal-content {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    min-width: 300px;
}

.modal-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.modal-content button {
    width: 100px;
    height: 40px;
    font-size: 18px;
}

