.header {
    background-color: #000;
    color: #fff;
/*    padding: 3px;*/
    font-size: 20px;
    font-weight: bold;
    flex-shrink: 0;  /*	ヘッダーが縮まらないようにする */
}

/* 中：注文リスト */
.order-list {
    flex: 1; 
    font-size: 20px;
}

/* 注文アイテム */
.order-item {
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}

/* 下部エリア */
.bottom-area {
	font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 2px solid #ddd;
    flex-shrink: 0; /* 下部エリアが縮まらないように */
}
