.header {
	background-color: #000;
	color: #fff;
	/*    padding: 3px;*/
	font-size: 20px;
	font-weight: bold;
	flex-shrink: 0;
	/*	ヘッダーが縮まらないようにする */
}

/* 中：注文リスト */
.order-list {
	flex: 1;
	font-size: 20px;
}

/* 注文アイテム */
.order-item {
	display: flex;
	align-items: flex-start;
	gap: 15px;
	padding: 10px;
	border: 1px solid #000;
}

.item-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 25px;
}

.item-name {
	/*    font-weight: bold;*/
	font-size: 28px;
	margin-bottom: 5px;
}

.item-detail {
	color: #444;
	margin-bottom: 5px;
}

.item-subtotal {
	display: flex;
	flex-direction: column;
	/*	margin-left: 20px;*/
	font-size: 25px;
	/*    font-weight: bold;*/
	color: #000;
}


/* 下部エリア */
.bottom-area {
	font-size: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-top: 2px solid #ddd;
	flex-shrink: 0;
}

.btn-area {
    display: flex;
    gap: 15px;
    align-items: center;
}


.item-photo {
	height: 100px;
	width: 100px;
	border-radius: 10px;
}