body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* 左上カテゴリボタン */
.category-area {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
}

.category-btn {
    width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: linen;
}


.side-list-area {
    position: fixed !important;
    right: 0;
    top: 10%;
    display: flex;
    align-items: center;
    z-index: 9999;
}

.side-list-btn {
	background-color: silver;
    writing-mode: vertical-rl;
    text-orientation: upright;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 150px;
}

/* --------------------------------------------- */
/* メニューエリア中央固定                         */
/* --------------------------------------------- */

.menu-area {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center;
}

.menu-item {
    text-align: center;
}

.menu-item img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

/* 左下：注文確認 */
.confirm-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

/* 右下：注文送信 */
.send-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}
